body {
  margin: 0 px;
  padding: 0 px;
  font-family: Roboto, sans-serif;
    background: black;
}

.navbar {
  margin: 0px;
  border-radius: 0px;
}

.navbar img {
  width: 26%;
  height: 26%;
  position: relative;
  left: 30px;
  top: 13px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px;
}

.navbar=brand {
  margin-left: 30px;
}

#myNavbar {
  margin: 15px;
  margin-bottom: 0px;
  font-size: 1.4em;
  padding: 13px;
  padding-right: 50px;
}

.container-fluid {
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  text-align: center;
}

#aboutmeImage {
  border-radius: 100%;
  max-width: 45%;
  max-height: 45%;
  margin-left: 80px;
  margin-bottom: 50px;
}

#aboutme {
  background-color: #002f3e;
  margin: 0px;
  line-height: 2em;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

#aboutme h1 {
  background-color: #002f3e;
  margin: 0px;
  padding: 10px;
  line-height: 2em;
  font-size: 3em;
}

#Harman {
  font-weight: 800;
  font-size: 1.3em;
  padding-left: 4px;
}

#aboutme p {
  background-color: #002f3e;
  margin: 0px;
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 20px;
  margin-right: 30px;
}

#aboutmeRow {
  color: white;
}

.projects {
  text-align: center;
  background: #79D7FD;
  padding-bottom:  40px;
}

.projects h1, .contact h1 {
  font-size: 4em;
  margin-top: 0px;
  padding-top: 35px;
}

.projectGallery img {
  max-width: 100%;
}

.projectGallery p {
  font-size: 1.4em;
  line-height: 1.4em;
  padding-top: 20px;
}

.projectGallery a {
  font-size: 1.3em;
}

.row {
  margin: 0px;
}

.projectGallery .row {
  border: 4px solid black;
  padding: 20px;
  margin-top: 30px;
  height: responsive;
  width: responsive;
  background: #FFDFD7;
}

.contact h2 {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 30px;
}

#icons a {
  padding: 40px;
}

.contact {
  background-color: black;
  margin: 0px;
  color: white;
}

#icons a:hover {
    cursor: pointer;
}
